<!doctype html>
<html lang="en" data-bs-theme="light">
    <head>
        <title>My Portfolio</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS v5.3.8 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
            <link rel="stylesheet" href="style.css" />
             <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
             <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=La+Belle+Aurore&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="imgs/logo.png" type="image/x-icon">
    </head>

    <body>
    <div id="app">
        <header>
            <!-- place navbar here -->
             <nav class="navbar navbar-expand-lg fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="imgs/logo2.png" alt="Logo" width="60" height="34" class="d-inline-block align-text-top">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav me-auto">
                        <a class="nav-link" :class="{active: currSection==='Home'}" @click="changeSection('Home')" :aria-current="currSection === 'Home' ? 'page' : undefined" href="#">Home</a>
                        <a class="nav-link" :class="{active: currSection==='About'}" @click="changeSection('About')" :aria-current="currSection === 'About' ? 'page' : undefined" href="#about">About</a>
                        <a class="nav-link" :class="{active: currSection==='Journey'}" @click="changeSection('Journey')" :aria-current="currSection === 'Journey' ? 'page' : undefined" href="#journey">Journey</a>
                        <a class="nav-link" :class="{active: currSection==='Skills'}" @click="changeSection('Skills')" :aria-current="currSection === 'Skills' ? 'page' : undefined" href="#skills">Skills</a>
                        <a class="nav-link" :class="{active: currSection==='Projects'}" @click="changeSection('Projects')" :aria-current="currSection === 'Projects' ? 'page' : undefined" href="#projects">Projects</a>
                        <a class="nav-link" :class="{active: currSection==='Contact'}" @click="changeSection('Contact')" :aria-current="currSection === 'Contact' ? 'page' : undefined" href="#contact">Contact</a>
                    </div>
                        <a class="btn btn-outline-primary resume ms-auto" href="#" role="button">🡫 Resume</a>
                    </div>
                </div>
            </nav>
        </header>
    
        <main class="text-center">
            
                <div class="jumbotron jumbotron-fluid my-5">
                    <div class="row row-jumbotron h-100 d-flex justify-content-center align-items-center">
                        <h1 class="display-1 d-md-block d-none">Shagan Sangha</h1>
                        <h2 class="display-1 d-md-none d-block">Shagan Sangha</h2>
                         <!-- img of down-pointing arrow here -->
                          <svg viewBox="0 0 40 20" width="20" height="20" class="downArrow fixed-bottom m-auto mb-5">
                            <line x1="0" y1="0" x2="20" y2="20" stroke="white" stroke-width="2"></line>
                            <line x1="40" y1="0" x2="20" y2="20" stroke="white" stroke-width="2"></line>
                          </svg>
                    </div>
                </div>

            <section v-fade-on-scroll id="about" class="my-5">
                <div class="container py-5">
                    <div class="row mb-3">
                        <h1>About Me</h1>
                    </div>
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-6 col-sm-10">
                            <p v-fade-on-scroll>Hello, my name is Shagan Sangha. Having (soon) graduated from Marlboro High School, I am ready to officially begin my journey in Computer Science at Rutgers University, building my skills towards a career specializing in AI/Machine Learning.
                                <br><br>
                                During my free time, I like to crochet wearable apparel such as tank tops and handbags. I also like to bake desserts for my family and I. In addition, I make sure to consistently practice yoga in order to maintain my inner peace. 
                                <br><br>
                                I am the eldest sister of four younger siblings ages 9, 7, 5, and 2. Being the first to go to college out of my siblings, I am ready to go wherever my ambitions take me, carving a path for my siblings to take inspiration from. 
                            </p>
                        </div>
                        <div class="col-md-6">
                            <img class="abtImg img-fluid" src="imgs/rutgers.png" width="550" height="400">
                        </div>
                    </div>
                </div>
            </section>

            <section v-fade-on-scroll id="journey" class="my-5">
                <div class="container py-5">
                    <div class="row mb-3">
                        <h1>My Journey</h1>
                    </div>
                    <div class="timeline-scroll">
                        <div class="timeline-track d-none d-md-block">
                            <!--timeline-->
                            <svg :viewBox="`0 0 1200 ${calcViewBoxHeight}`" class="timelineDesktop" :height="calcViewBoxHeight" style="display:block; margin:0 auto;"> <!--make little box the timeline resides in, should grow with growing timeline-->
                                
                                <!-- generate new line every 3 circles -->
                                <line v-for="(t, ind) in threeTimes" x1="90" :y1="genNewLine(ind)" x2="1130" :y2="genNewLine(ind)" stroke="#415F48" stroke-width="5"></line>
                                
                                <!-- generate new curve every line, alternating between these 2 -->
                                <path v-for="(t, ind) in threeTimes" v-show="ind%2===0" :d="`M1130 ${100 + (ind * 250)} Q1240 ${240 + (ind * 250)} 1130 ${350 + (ind * 250)}`" stroke="#415F48" stroke-width="5" fill="none"></path>
                                <path v-for="(t, ind) in threeTimes" v-show="ind%2===1" :d="`M90 ${100 + (ind * 250)} Q0 ${240 + (ind * 250)} 90 ${350 + (ind * 250)}`" stroke="#415F48" stroke-width="5" fill="none"></path>

                                <!-- the dots are generated x pixels away from each other, and each line can have a maximum of 3-4 dots -->
                                <circle v-for="(time, index) in timelineData" :cx="generateCirclesX(index)" :cy="generateCirclesY(index)" r="5" fill="#415F48"></circle>
                            </svg>

                            <!-- generated cards from json -->
                            
                                <div v-for="(time, index) in timelineData" class="card card-over" :style="{top: generateCirclesY(index)+100 + 'px', left: generateCirclesX(index) + 'px' }">
                                    <div class="card-body">
                                        <h5 class="card-title"  style="font-size:18px;">
                                            <!-- timeline date -->
                                            {{time.date}}
                                        </h5>
                                        <p class="card-text" style="font-size:16px;">
                                            <!-- description -->
                                            {{time.description}}
                                        </p>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="row d-md-none d-flex justify-content-center">
                        <!--timeline for mobile-->
                        <svg viewBox="`0 0 500 ${calcVBHeightMobile}`" :height="calcVBHeightMobile" style="display:block; margin:0 auto;"> <!--make little box the timeline resides in-->
                            <line x1="50" y1="50" x2="50" :y2="calcLineY()" stroke="#415F48" stroke-width="2"></line>
                            <circle v-for="(time, index) in timelineData" cx="50" :cy="generateCirclesMobileY(index)" r="5" fill="#415F48"></circle>
                        </svg>

                        <div v-for="(time, index) in timelineData" class="card card-over" style="left:230px; width:18rem;" :style="{top: generateCirclesMobileY(index)+130 + 'px'}">
                                    <div class="card-body">
                                        <h5 class="card-title"  style="font-size:18px;">
                                            <!-- timeline date -->
                                            {{time.date}}
                                        </h5>
                                        <p class="card-text" style="font-size:16px;">
                                            <!-- description -->
                                            {{time.description}}
                                        </p>
                                </div>
                            </div>
                    </div>
                </div>
            </section>

            <section v-fade-on-scroll id="skills" class="my-5">
                <div class="container py-5">
                    <div class="row mb-3">
                        <h1>My Skills</h1>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <!--skills content-->
                    <div class="col-md-3 col-sm-10 m-2" v-for="skill in skills">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <!-- img with transparent png logos of each language/skill -->
                                    <img :src="skill.image" style="width:80px; height:auto">
                                </h5>
                                <p class="card-text">
                                    <!-- name of skill -->
                                    {{skill.language}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section v-fade-on-scroll id="projects" class="my-5">
                <div class="container py-5">
                    <div class="row mb-1">
                        <h1>My Projects</h1>
                    </div>
                    <div class="row justify-content-center">
                        <!--button Soph-Jnr-Snr-->
                        <div class="col-md-6 p-4">
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <button @click="year='Sophomore'" type="button" class="btn btn-outline year">Sophomore Year</button>
                                <button @click="year='Junior'" type="button" class="btn btn-outline year">Junior Year</button>
                                <button @click="year='Senior'" type="button" class="btn btn-outline year">Senior Year</button>
                            </div>
                        </div>
                        
                        <!--projects-->
                        <div class="col-12">
                            <div id="carouselExample" class="carousel slide" >
                                <div class="carousel-inner">
                                    <div class="carousel-item" v-for="(three, i) in threeCardsPerSlide" :key="i" :class="{ active: i === 0 }">
                                        <div class="row d-flex justify-content-center align-items-center">
                                            <div class="col-md-3 my-5 col-sm-10" v-for="(proj, projIndex) in three">
                                                <div class="card project" :key="projIndex" :style="{'background-image': `url(${proj.bg})`}">
                                                    <div class="card-body d-flex flex-column justify-content-center">
                                                        <h5 class="card-title">
                                                            <!-- name of project -->
                                                            {{proj.name}}
                                                        </h5>
                                                        <!-- add 'learn more' on first 3 projs per yr -->
                                                        <a target="_blank" v-show="proj.learnMore===true" :key="proj.learnMore" @click="selectedProj(proj)" class="btn btn-outline learnMore w-100 mb-1" data-bs-toggle="modal" data-bs-target="#staticBackdropLabel">Learn More</a> 
                                                        <a target="_blank" :href="proj.visitWebsite" class="btn btn-outline learnMore w-100">Visit Website</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>


            <section v-fade-on-scroll id="contact" class="my-5">
                <div class="container py-5">
                    <div class="row mb-3">
                        <h1>Contact Me!</h1>
                    </div>
                    <div class="row d-flex justify-content-center align-items-center">
                        <!--contact content-->
                        <div class="col-md-6">
                            <p>Feel free to reach out to me!</p>
                            <p><strong>Email:</strong> sanghashagan@gmail.com</p>
                            <p><strong>Phone:</strong> (732) 858-3334</p>
                        </div>
                        <div class="col-md-6">
                            <!-- formspree -->
                            <form action="https://formspree.io/f/xpqnagoa" method="POST">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3"></textarea>
                                </div>
                                <div class="mb-3 text-center">
                                    <button style="font-size:18px;" class="btn submit" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Modal -->
            <div class="modal fade" id="staticBackdropLabel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 95vw; width: 95vw; max-height:92vh; height:92vh;">
                    <div class="modal-content" style="height: 100%;">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">{{currProj.name}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="modalOpen='false'"></button>
                        </div>
                        <div class="modal-body" style="overflow-x: hidden;">
                            <div class="jumbotron jumbotron-fluid my-5">
                                <div class="row row-jumbotron h-100 d-flex justify-content-center align-items-center">
                                    <h1 class="display-1 d-md-block d-none">Shagan Sangha</h1>
                                    <h2 class="display-1 d-md-none d-block">Shagan Sangha</h2>
                                    <!-- img of down-pointing arrow here -->
                                    <svg viewBox="0 0 40 20" width="20" height="20" class="downArrow fixed-bottom m-auto mb-5">
                                        <line x1="0" y1="0" x2="20" y2="20" stroke="white" stroke-width="2"></line>
                                        <line x1="40" y1="0" x2="20" y2="20" stroke="white" stroke-width="2"></line>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn learnMore" data-bs-dismiss="modal" @click="modalOpen=false">Close</button>
                             <a target="_blank" :href="currProj.visitWebsite" class="btn learnMore">Visit Website</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <footer>
            <!-- place footer here -->
             <div id="footer" class="text-center py-3">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <h3>Shagan Sangha</h3>
                        <!-- 3 logos -->
                         <div class="col-1">
                            Logo1
                         </div>
                         <div class="col-1">
                            Logo1
                         </div>
                         <div class="col-1">
                            Logo1
                         </div>
                        <p>© 2026 Shagan Sangha. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap JavaScript Bundle (includes Popper) -->
         <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
        <script src="script.js"></script>
    </body>
</html>
